@model Proyecto_Inmuebles.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@if (TempData["RegisterMessage"] != null)
{
    <div style="color:green">@TempData["RegisterMessage"]</div>
}

<form asp-action="Login" method="post" style="display:grid; gap:8px; max-width:280px;">
    <label>Username</label>
    <input asp-for="Username" autocomplete="username" />

    <label>Password</label>
    <input asp-for="Password" type="password" autocomplete="current-password" />

    <button type="submit">Sign In</button>
</form>

<p style="margin-top:12px;">
    <form method="get" asp-controller="Account" asp-action="Register" style="display:grid; gap:8px; max-width:280px;">
        <label for="userTypeRegister">Seleccione un tipo de usuario para registrar:</label>
        <select id="userTypeRegister" name="userTypeRegister" class="form-control">
            <option value="">--- Seleccionar ---</option>
            @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.listaTiposUsuario)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
        <button type="submit">Registrarme</button>
    </form>
</p>
