@model Proyecto_Inmuebles.Models.CondicionVerViewModel
@{
    ViewData["Title"] = "Crear Condicion";
}

<h2>@ViewData["Title"]</h2>
<p style="margin-top:12px;">
    
    <form asp-controller="Condicion" asp-action="CrearCondicionAccion" method="post" style="display:grid; gap:8px; max-width:280px;">
       
        <label>ID</label>
        <input asp-for="IdCondicion"/>

        <label>NombreCondicion</label>
        <input asp-for="NombreCondicion" />

        <button type="submit">Guardar</button>
    </form>

</p>

<a asp-controller="Condicion" asp-action="Index" class="btn btn-outline-info">@("<- Regresar")</a>
