@model Proyecto_Inmuebles.Models.EstadoOfertaVerViewModel
@{
    ViewData["Title"] = "Modificar Estado de Oferta";
}

<h2>@ViewData["Title"]</h2>
<p style="margin-top:12px;">
    
    <form asp-action="ModificarEstadoOfertaAccion" method="post" style="display:grid; gap:8px; max-width:280px;">
       
        <input asp-for="IdEstadoOferta" hidden/>

        <label>NombreEstadoOferta</label>
        <input asp-for="NombreEstado" />

        <button type="submit">Guardar</button>
    </form>

</p>

<a asp-controller="EstadoOferta" asp-action="Index" class="btn btn-outline-info">@("<- Regresar")</a>
