@model Proyecto_Inmuebles.Models.EstadoOfertaVerViewModel
@{
    ViewData["Title"] = "Ver Estado de Oferta";
}

<h2>@ViewData["Title"]</h2>
<p style="margin-top:12px;">
    <form asp-action="" method="post" style="display:grid; gap:8px; max-width:280px;">
        <label>IdEstadoOferta</label>
        <input asp-for="IdEstadoOferta" disabled/>

        <label>NombreEstadoOferta</label>
        <input asp-for="NombreEstado" disabled />
    </form>
</p>

<a asp-controller="EstadoOferta" asp-action="Index" class="btn btn-outline-info">@("<- Regresar")</a>
