@model Proyecto_Inmuebles.Models.FormasPagoVerViewModel
@{
    ViewData["Title"] = "Modificar Forma de Pago";
}

<h2>@ViewData["Title"]</h2>
<p style="margin-top:12px;">
    
    <form asp-action="ModificarFormasPagoAccion" method="post" style="display:grid; gap:8px; max-width:280px;">
        <label>ID</label>
        <input asp-for="IdFormaPago" hidden/>

        <label>NombreFormaPago</label>
        <input asp-for="NombreFormaPago" />

        <button type="submit">Guardar</button>
    </form>

</p>

<a asp-controller="FormasPago" asp-action="Index" class="btn btn-outline-info">@("<- Regresar")</a>
